<div>
{{#if locations}}
    <form action="/location/validate" method="post" class="mb-3">
        {{#each locations}}
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <input type="checkbox" name="id[]" value="{{_id}}">
            <img src="data:{{image.contentType}};base64,{{imageToBase64 image.data}}" width="300">
        {{/each}}
        <p>
            <input type="submit" value="Validate" class="btn btn-primary">
        </p>
    </form>
{{else}}
    <h2>Yay! There are no locations to validate</h2>
{{/if}}
</div>
